
  .button{
    background-color: #0d6efd;
    color: white;
    padding: 10px;
    padding-left:15px;
    padding-right:15px;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: -21px -24px 62px 15px rgba(0,0,0,0.07) inset;
      -webkit-box-shadow: -21px -24px 62px 15px rgba(0,0,0,0.07) inset;
      -moz-box-shadow: -21px -24px 62px 15px rgba(0,0,0,0.07) inset;
      
      
  }

  .button:hover{
    box-shadow: 10px 10px 118px 102px rgba(0,0,0,0.15) inset;
      -webkit-box-shadow: 10px 10px 118px 102px rgba(0,0,0,0.15) inset;
      -moz-box-shadow: 10px 10px 118px 102px rgba(0,0,0,0.15) inset;

    
     /* or background-color: dark-blue; */
  }

  .button:active {
  background-color: #085ed7;
}
