<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->

<p>
  <a class="primary_button">Primary</a>
</p>

<p>
  <a class= "secondary_button">Secondary</a>
</p>

<p>
  <a class="success_button">Success</a>
</p>

<p>
  <a class="danger_button">Danger</a>
</p>

<p>
  <a class=warning_button>Warning</a>
</p>

<p>
  <a class=info_button>Info</a>
</p>


<p>Less intrusive variants:</p>

<p>
  <a class="primary_unobtrusive">Primary (unobtrusive)</a>
</p>

<p>
  <a class="secondary_unobtrusive">Secondary (unobtrusive)</a>
</p>

<p>
  <a class="success_unobtrusive">Success (unobtrusive)</a>
</p>

<p>
  <a class="danger_unobtrusive">Danger (unobtrusive)</a>
</p>

<p>
  <a class="warning_unobtrusive">Warning (unobtrusive)</a>
</p>

<p>
  <a class="info_unobtrusive">Info (unobtrusive)</a>
</p>
